/* components/Skill.module.css */
.ChartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Chart {
    max-width: 100%;
    height: 100%;
    position: relative;
    left: 33%;
    position: absolute;
    top: 51%;
}

.Chart1 {
    max-width: 100%;
    height: 100%;
    position: relative;
    left: 7%;
    position: absolute;
    top: 30%;
}
.skillsAmount {
    position: absolute;
    top: 50%;
    width: 50%;
    background-color: black;
}
.Technologies {
    background-color: red;
    font-size: 19px;
    width: 267px;
    height: 143px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    line-height: 33px;
}
.technologies2 {
    background-color: red;
    position: absolute;
    left: 28%;
    position: fixed;
    top: 55%;
    width: 299px;
    height: 144px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    line-height: 45px;
}
